POSTGRES_HOST=localhost
POSTGRES_PORT=55432
POSTGRES_DB=etl_db
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_password

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=products.top5
KAFKA_GROUP_ID=products-top5-consumer
